$font-family-body: "Roboto", sans-serif; 
$body-background-image: url('../images/bg.gif');

$white: #FFF;
$offWhite: #F5F6F6;
$light_gray: #666;
$dark_gray: #30353D;

$dark_orange: #E65C43;
$light_orange: #F25C43;

$default-width: 959px;

$logo: url('../images/logo.png');
$social-media-img: url('../images/social-media.png');

$pc: 939px;
$tab: 767px;
$phone: 459px;



